.index{
    width: 100%;
    overflow: auto;
    .index_contain{
        width: 800px;
        margin: 150px auto;
        height: 400px;
        border: 1px solid #000;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        .index_contain_left{
            width: 45%;
            height: 90%;
            margin-right: 2%;
            position: relative;
            .index_contain_left_contain{
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 45px;
                border: 1px solid #000;
                display: block;
                padding: 15px;
                .iclc_textarea{
                    margin-top: 10px;
                    width: 100%;
                    height: 144px;
                }
                .iclc_btn{
                    width: 100%;
                    height: 35px;
                    position: relative;
                    border-radius: 17.5px;
                    border: 1px solid #000;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .iclc_btn_item{
                        width: 50%;
                        height: 100%;
                        line-height: 35px;
                        text-align: center;
                        font-size: 20px;
                        z-index: 9;
                        cursor: pointer;
                    }
                    .iclc_btn_color{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: calc(50% + 9.25px);
                        height: 35px;
                        border-radius: 17.5px;
                        background-color: #0088ff;
                        transition: all 0.5s;
                    }
                }
                .iclc_model{
                    margin-top: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                }
                .iclc_file{
                    width: 100%;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .iclc_file_btn{
                        width: 30%;
                        line-height: 40px;
                        height: 40px;
                        text-align: center;
                        border-radius: 8px;
                        border: 1px solid #000;
                        cursor: pointer;
                    }
                    .iclc_file_input{
                        width: 60%;
                    }
                }
                .iclc_submit{
                    width: 30%;
                    line-height: 40px;
                    height: 40px;
                    text-align: center;
                    margin-top: 10px;
                    border-radius: 8px;
                    border: 1px solid #000;
                    cursor: pointer;
                }
            }
        }
        .index_contain_right{
            width: 45%;
            height: 90%;
            border: 1px solid #000;
        }
    }
}